.checkoutProduct {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

.checkoutProduct_info {
  padding-left: 20px;
}

.checkoutProduct_info > button {
  background: #3C6E71;
  border: 1px solid;
  margin-top: 10px;
  border-color: #D9D9D9 #3C6E71 #353535;
  color: white;
  padding: 5px;
}

.checkoutProduct_info > button:hover {
  background: #284b63;
  border-color: #d9d9d9 #3c6e71 #353535;
}

.checkoutProduct_image {
  object-fit: contain;
  width: 180px;
  height: 180px;
}

.checkoutProduct_rating {
  display: flex;
}

.checkoutProduct_title {
  font-size: 17px;
  font-weight: 800;
}
