.single_product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.single_products_container {
  max-width: 1500px;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.single_product_title {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3c6e71;
  font-size: 2em;
  color: white;
  padding: .5em;
  margin-bottom: .5em;
}

.single_product_row {
  display: grid;
  grid-template-columns: 1fr;
  gap: 5px 5px 5px 5px;
  justify-items: center;
  align-items: center;
  z-index: 1;
  margin-left: 5px;
  margin-right: 5px;
}