.single_product_card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
  /* justify-content: flex-end;
  margin: 10px;
  padding: 20px;
  width: 50%; */
  /* max-height: 400px;
  max-width: 250px;
  min-width: 250px; 
  /* background-color: white;
  z-index: 1;
  border-radius: 5px;
  box-shadow: 5px 5px 9px rgb(107, 110, 110); 
}  */

.single_product_card > img {
  max-height: 200px;
  width: auto;
  object-fit: contain;
  margin-bottom: 15px;
}

.img_container {
  z-index: 1;
  border-radius: 5px;
  box-shadow: 5px 5px 9px rgb(107, 110, 110); 
  margin-bottom: .75em;
}

.single_product_card > button {
  background: #3c6e71;
  border: 1px solid;
  margin-top: 10px;
  border-color: #d9d9d9 #3c6e71 #353535;
  color: white;
  padding: 4px 20px;
  font-size: 1em;
}

.single_product_card > button:hover {
  background: #284b63;
  border-color: #d9d9d9 #3c6e71 #353535;
}

button:active {
  transform: scale(0.90);
}

.single_product_card_price {
  margin-top: 5px;
}

.single_product_card_info {
  height: 100px;
  margin-bottom: 15px;
}

.title {  
  font-size: 2em;
  font-weight: 600;
}

.single_product_card_rating {
  margin-top: .5em;
  display: flex;
  flex-direction: row;
}
